@font-face {
  font-family: "KGT";
  src: url("../src/fonts/KrasnodarGroteskTrial.otf") format("opentype");
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #1d1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

header {
  max-width: 1440px;
  margin: auto;
}
header section {
  display: flex;
  justify-content: space-between;
}
header section nav ul {
  display: flex;
}
header section nav ul li {
  display: flex;
  align-items: center;
}
header section nav ul li a {
  font-weight: 700;
  font-size: 24px;
  color: white;
}
header section nav ul li a img {
  width: 4.375rem;
  height: 4.375rem;
}
header section nav ul li a .menu__img {
  width: 2.2rem;
  height: 2rem;
}
header section .right__header {
  display: flex;
  gap: 1rem;
}
header section .right__header ul {
  gap: 1rem;
}
.photo {
  background-image: url("../src/img/main/maitPhoto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 1000px;
  margin: 100px auto 0px auto;
}

.immediate {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0px auto;
  gap: 100px;
  position: relative;
}
.immediate::before {
  content: "";
  width: 600px;
  height: 1200px;
  background-image: url("../src/img/main/immediate/chain1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  pointer-events: none;
}
.immediate::after {
  content: "";
  width: 1000px;
  height: 1020px;
  background-image: url("../src/img/main/immediate/chain2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: -50px;
  bottom: -150px;
  pointer-events: none;
}
.immediate h2 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}
.immediate .event_container {
  width: 100%;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.immediate .event_container::after {
  content: "";
  width: 1300px;
  height: 1400px;
  background-image: url("../src/img/main/immediate/lightning.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -275px;
  right: 20px;
  pointer-events: none;
}
.immediate .event_container .event {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.immediate .event_container .event p {
  color: red;
  position: relative;
  height: 21px;
  font-weight: 500;
  font-size: 24px;
}
.immediate .event_container .event p::after {
  content: "_________";
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  bottom: -1rem;
  left: -1px;
  color: white;
}
.immediate .event_container .event button {
  height: 70px;
  width: 210px;
  background-color: #1a1a1a;
  border-radius: 1.3rem;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 24px;
}
.immediate .event_container .event button:active {
  transform: scale(1.03);
}
.immediate .event_container .event button:hover {
  cursor: pointer;
  background-color: #131212;
}

@media (max-width: 1050px) {
  .immediate::before {
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("../src/img/main/immediate/bust1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: -120px;
    pointer-events: none;
    z-index: -1;
  }
  .immediate::after {
    content: "";
    width: 220px;
    height: 200px;
    background-image: url("../src/img/main/immediate/bust2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: -120px;
    pointer-events: none;
    z-index: -1;
  }
  .immediate .event_container::after {
    content: "";
    width: 370px;
    height: 800px;
    background-image: url("../src/img/main/immediate/bust3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 217px;
    right: 0px;
    left: 25%;
    pointer-events: none;
  }
}
.previe {
  background-image: url("../src/img/main/previe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 1000px;
  margin: 150px auto 0px auto;
}

.merch {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
  position: relative;
  margin: 100px auto 0px auto;
}
.merch::before {
  content: "";
  width: 12rem;
  height: 12rem;
  background-image: url("../src/img/main/merch/bust1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  bottom: -13rem;
  pointer-events: none;
}
.merch::after {
  content: "";
  width: 12rem;
  height: 12rem;
  background-image: url("../src/img/main/merch/bust2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  right: 0px;
  bottom: -13rem;
}
.merch h2 {
  font-weight: 700;
  font-size: 38px;
  color: white;
}
.merch .merch__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 100px;
}
.merch .merch__container .merch__block {
  border: 1px solid white;
  padding: 4px 4px 10px 4px;
}
.merch .merch__container .merch__block p {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
}

.previe2 {
  background-image: url("../src/img/main/previe2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 1000px;
  position: relative;
  z-index: 1;
  margin: 200px auto 0px auto;
}

.logo {
  background-image: url("../src/img/main/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 500px;
  height: 500px;
  position: relative;
  z-index: 1;
  margin: 0px auto 0px auto;
}

.make__some__noize {
  background-image: url("../src/img/main/msn/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 600px;
  margin: 100px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0px auto;
  gap: 140px;
  position: relative;
}
.other h2 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}
.other .event_container {
  width: 100%;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.other .event_container::after {
  content: "";
  width: 900px;
  height: 750px;
  background-image: url("../src/img/main/other/lighting2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -210px;
  left: 5rem;
  pointer-events: none;
}
.other .event_container::before {
  content: "";
  width: 800px;
  height: 1100px;
  background-image: url("../src/img/main/other/lighting.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -275px;
  left: 13rem;
  pointer-events: none;
}
.other .event_container .event {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.other .event_container .event p {
  color: red;
  position: relative;
  height: 21px;
  font-weight: 500;
  font-size: 24px;
  width: 150px;
  text-align: center;
}
.other .event_container .event button {
  height: 70px;
  width: 210px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 24px;
}
.other .event_container .event button:active {
  transform: scale(1.03);
}
.other .event_container .event button:hover {
  cursor: pointer;
}

@media (max-width: 1050px) {
  .other .event_container::after {
    content: "";
    width: 730px;
    height: 500px;
    background-image: url("../src/img/main/other/lighting2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -210px;
    left: 13rem;
    pointer-events: none;
  }
  .other .event_container::before {
    content: "";
    width: 600px;
    height: 1100px;
    background-image: url("../src/img/main/other/lighting.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -275px;
    left: 13rem;
    pointer-events: none;
  }
}
@media (max-width: 800px) {
  .other .event_container::after {
    content: "";
    width: 600px;
    height: 500px;
    background-image: url("../src/img/main/other/lighting2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -210px;
    left: 7rem;
    pointer-events: none;
  }
  .other .event_container::before {
    content: "";
    width: 400px;
    height: 1100px;
    background-image: url("../src/img/main/other/lighting.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -275px;
    left: 7rem;
    pointer-events: none;
  }
}
.previe3 {
  background-image: url("../src/img/main/previe3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 1000px;
  position: relative;
  z-index: 1;
  margin: 200px auto 0px auto;
}

.info__daft {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 30px;
  margin: 150px auto 0px auto;
}
.info__daft::before {
  content: "";
  width: 81rem;
  height: 300px;
  background-image: url("../src/img/main/daft/lighting.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 200px;
  top: -200px;
  pointer-events: none;
}
.info__daft h2 {
  font-weight: 700;
  font-size: 38px;
}
.info__daft p {
  font-family: "KGT", sans-serif;
  font-weight: 500;
  font-size: 38px;
  max-width: 1440px;
  text-align: center;
}

@media (max-width: 1450px) {
  .info__daft::before {
    width: 65rem;
  }
}
@media (max-width: 1250px) {
  .info__daft::before {
    width: 55rem;
    left: 100px;
    top: -150px;
  }
}
@media (max-width: 800px) {
  .info__daft::before {
    width: 47rem;
    left: 0px;
    top: -150px;
  }
}
.up {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 30px;
  border-radius: 50%;
  background-color: aliceblue;
  background-image: url("../src/img/main/up/up.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

footer {
  max-width: 1440px;
  margin: 150px auto;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}/*# sourceMappingURL=main.css.map */