@font-face {
  font-family: "KGT";
  src: url("../src/fonts/KrasnodarGroteskTrial.otf") format("opentype");
}
@mixin font_settings($fw, $fs) {
  font-weight: $fw;
  font-size: $fs;
}

@mixin margin($m:100px){
  margin:$m auto 0px auto;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #1d1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}