.logo {
  background-image: url("../src/img/main/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 500px;
  height: 500px;
  position: relative;
  z-index: 1;
  @include margin(0px);
}
