.merch {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
  position: relative;
  &::before {
    content: "";
    width: 12rem;
    height: 12rem;
    background-image: url("../src/img/main/merch/bust1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    bottom: -13rem;
    pointer-events: none;
  }
  &::after {
    content: "";
    width: 12rem;
    height: 12rem;
    background-image: url("../src/img/main/merch/bust2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
    right: 0px;
    bottom: -13rem;
  }
  @include margin;
  h2 {
    @include font_settings(700, 38px);
    color: white;
  }
  .merch__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    row-gap: 100px;
    .merch__block {
      border: 1px solid white;
      padding: 4px 4px 10px 4px;
      p {
        color: white;
        text-align: center;
        @include font_settings(300, 28px);
      }
    }
  }
}
